@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
/* font-family: 'DM Serif Display', serif; */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
/* font-family: 'Karla', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  font-family: 'Karla', sans-serif;
}
.desktop-nav-links{
    display: flex;
    align-items: center;
}
.desktop-nav-links a{
    text-decoration: none;
    margin-right: 30px;
    text-transform: uppercase;
    color: hsl(273, 4%, 51%);
    letter-spacing: 2px;
}
.desktop-nav-links a:hover{
    color: hsl(270, 9%, 17%);
}
.desktop-nav-links button{
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid hsl(270, 9%, 17%);
    background-color: transparent;
    padding: 10px 20px;
    color: hsl(270, 9%, 17%);
    cursor: pointer;
    font-weight: 700;
}
.desktop-nav-links button:hover{
    color: white;
    background-color: hsl(270, 9%, 17%);
}
.outer-main-family{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 600px;
    background-color: var(--Dark-Violet);
    position: relative;
}
.outer-main-family::before{
    content: "";
    background-image: url(images/bg-pattern-intro-right-desktop.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: top right;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}
.outer-main-family::after{
    content: "";
    background-image: url(images/bg-pattern-intro-left-desktop.svg);
    height: 100%;
    width: 100%;
    bottom: -50%;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.wrapper-family-time{
    display: flex;
    color: white;
    height: 100%;
    width: 70%;
    /* border: 2px solid blue; */
}
.wrapper-family-time .item{
    flex: 1;
}
.wrapper-family-time::before{
    content: "";
}
.family-text{
    /* border: 2px solid orange; */
    display: flex;
    align-items: center;
    padding: 50px;
}
.family-text h1{
    margin-bottom: 20px;
    font-size: 40px;
    padding-right: 100px;
}
.family-text p{
    line-height: 25px;
}
.family-text button{
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 30px;
}
.outer-text-div::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: var(--Very-Light-Gray);
    top: 0;
    left: 0;
}
.text-div p{
    padding-right: 40px;
}
.text-div button:hover{
    color: var(--Dark-Violet);
    background-color: white;
}
.text-div p{
    margin: 30px 0;
}
.text-div h1{
    font-size: 50px;
    line-height: 40px;
}
.family-pic-div {
    margin-bottom: -100px;
    margin-top: 100px;
}
.articles-flexbox{
    display: flex;
    gap: 20px;
}
.articles-flexbox article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.articles-flexbox article img{
    width: 50px;
}
.articles-div{
    margin-top: 200px;
    /* border: 1px solid black; */
    padding: 40px 100px;
    position: relative;
}
.articles-div h2{
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'DM Serif Display', serif;
    color: var(--Very-Dark-Violet);
    display: inline-block;
}
.articles-flexbox > article > h3{
    color: var(--Very-Dark-VioletD);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 300;
}
.articles-flexbox > article > p{
    font-family: 'Karla', sans-serif;
    color: hsl(273, 4%, 51%);
}
.articles-div::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 120px;
    background-color: var(--Grayish-Blue);
    top: 0;
    left: 100px;
}
.find-out-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    margin: 120px 0px 80px 0px;
    position: relative;
}
.find-out-div::after{
    content: "";
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.find-out-div button{
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.find-out-div .button button:hover{
    color: var(--Dark-Violet);
    background-color: var(--Very-Light-Gray);
}
.find-out-div p{
    font-size: 40px;
}
footer{
    padding: 40px 100px;
    background-color: var(--Very-Light-Gray);
}
.logo-socials-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials-div a{
    margin-left: 15px;
    cursor: pointer;
    color: var(--Dark-Grayish-Violet);
}
.socials-div a:hover{
    color: var(--Dark-Violet);
}
.socials-div > a > ion-icon{
    width: 25px;
    height: 25px;
}
hr{
    margin: 30px 0;
}

.links-wrapper .links a{
    text-decoration: none;
    color: var(--Dark-Violet);
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
}
.links-wrapper .links a::after{
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--Dark-Violet);
    top: 95%;
    left: 0;
    position: absolute;
    transition: 0.3s;
    transform-origin: left;
}
.links-wrapper .links div:hover ::after{
    width: 100%;
}
.links-wrapper .links{
    display: flex;
    font-family: 'Karla', sans-serif;
    flex-direction: column;
}
.links-wrapper .links p{
    display: inline;
}
.links > div{
    margin-bottom: 15px;
}
.links-wrapper .links p{
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--Dark-Grayish-Violet);
}
.links-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.hamburger{
    cursor: pointer;
    display: none;
}
.articles-div h2{
    text-align: center;
}
.close-icon{
    display: none;
    cursor: pointer;
}
.family-pic-div img {
    height: 100%;
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 651px) and (max-width: 1000px){
    .desktop-header{
        padding: 20px 50px;
    }
    .desktop-nav-links a{
        margin-right: 20px;
        letter-spacing: 0;
    }
    .find-out-div{
        padding: 30px 40px;
    }
    .articles-div h2{
        text-align: left;
    }
}

@media only screen and (max-width: 650px){
    .desktop-nav-links{
        position: absolute;
        top: 95px;
        left: 0;
        height: 90vh;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        z-index: 999;
        background-color: var(--Dark-Violet);
        opacity: 0;
        pointer-events: 0;
        transition: 0.3s ease-in-out;
        transform-origin: left;
    }
    .active{
        opacity: 1;
    }
    .desktop-nav-links a{
        margin-bottom: 30px;
        color: var(--Very-Light-Gray);
    }
    .desktop-header{
        padding: 20px 15px;
    }
    .wrapper-family-time{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "family-pic-div"
        "family-text";
        color: white;
        background-color: var(--Dark-Violet);
        width: 100%;
        height: 100%;
    }
    .family-text{
        grid-area: family-text;
        text-align: center;
    }
    .family-text p{
        line-height: 25px;
        margin: 25px 0;
        padding: 0 20px;
    }
    .family-text h1{
        font-size: 35px;
        padding: 0 45px;
    }
    .family-text button{
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 2px solid white;
        background-color: transparent;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        font-weight: 700;
    }
    .family-pic-div{
        grid-area: family-pic-div;
    }
    .hamburger{
        display: block;
    }
    .button-top button{
        color: var(--Very-Light-Gray);
        border: 2px solid var(--Very-Light-Gray);
        cursor: pointer;
        width: 100%;
    }
    .button-top button:hover{
        color: var(--Dark-Violet);
        background-color: var(--Very-Light-Gray);
    }
    .button-top{
        margin-right: 10px;
        width: 80%;
    }
    .articles-flexbox{
        flex-direction: column;
    }
    .articles-flexbox article{
        align-items: center;
        text-align: center;
    }
    .articles-div::before{
        left: 37%;
    }
    .find-out-div{
        flex-direction: column;
        padding: 40px 10px;
        text-align: center;
    }
    .find-out-div p{
        font-size: 30px;
    }
    .find-out-div button{
        margin-top: 30px;
    }
    .articles-div{
        padding: 0 10px;
    }
    .logo-socials-div{
        flex-direction: column;
    }
    .socials-div > a > ion-icon{
        width: 20px;
        height: 20px;
    }
    .socials-div a{
        margin-left: 10px;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
    .links-wrapper{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .desktop-nav-links a{
        color: var(--Very-Light-Gray);
    }
    .desktop-nav-links a:hover{
        color: white;
        color: var(--Grayish-Blue);
    }
    .articles-div {
        margin-top: 100px;
    }
    .outer-main-family{
        height: 100%;
        width: 100%;
    }
}